<h1>login</h1>

<form action="/login" method="POST">
	<input type="text" name="fullName"
		placeholder="full name">
	<input type="text" name="idNo"
		placeholder="Voter Registration no">
    <input type="password" name="password">
	<button>login</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
